html,body {
  height: 100%;
  overflow: hidden;
  text-align: center;
}
select {
  font-family: Verdana;
  font-size: large;
  width: 100%;
  padding: 0.5em 0.5em;
  text-align: center;
  text-align-last: center;
}
#radio {
  height: 85%;
  width: 100%;
}
